@page "/"
@inject HttpClient Http
<h1>
    Welcome to Greatsteve Remsklad
</h1>
<button class="btn btn-primary" @onclick="UpdateDatabase">UpdateDatabase</button>

@if (responce?.StatusCode.ToString() == "OK")
{
    @code{string success = $"Database updated successfully : { DateTime.Now}";
    }
    <h2>@success</h2>
 }


@code {
    HttpResponseMessage responce;
    protected async Task UpdateDatabase()
    {
        responce = await Http.PostAsync("https://localhost:5001/warehouse/UpdateDatabase", null);
    }

}

